#sub-menu{
    float:none;
    margin: 50px auto;
    width: 50%;
    height: 50%;
    align-self: center;
  }
  
  #sub-menu img{
    height:60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #sub-menu row{
    padding:30px;
    width: 100%;
    margin: 0 auto;
  }
  
  .sub-menu-item{
    margin: 70px auto;
    width:20%;
    height:20%;
    align-content: center;
  }
  
  .sub-menu-item p{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: sans-serif;
    padding:0px;
    color: black;
  }
  
  .sub-menu-item:hover{
    border-bottom: 5px solid yellow;
    /*background-color: #C0C0C0;*/
  }